<div class="footer-wrap pd-20 mb-20 card-box">
	Welcome
</div>

<div style="float:right"><%#= link_to areas_path, class: "btn btn-primary" do %>List Brands<%# end %></div>
            <div style="float:right"><%#= button_to "Delete Brand", area_path(@area), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></div>