 <%# <link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" /> %>
    <%# <link rel="stylesheet" type="text/css" href="/vendors/styles/icon-font.min.css" /> %>
    
<div class="min-height-200px">
   <div class="page-header">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="title" style="display: flex; justify-content: space-between; align-items: center;">
             <h3 id="page_title" class="text-blue">Area Page</h3>
              <a class="btn btn-primary btn-sm" href="<%= new_area_path %>" role="button">New Area</a>
            </div>
         </div>
      </div>
   </div>
   <%# <div class="page-header">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="title">
             <h3 id="pag
             e_title" class="text-blue">Area Page</h3>
            </div>
         </div>
         <div class="col-md-6 col-sm-12 text-right">
            <%= link_to 'New Area', new_area_path, class: 'btn btn-primary' %>
         <%# </div> %>
      <%# </div> %>
   <%# </div> %>
   <div class="card-box mb-30">
      <div class="pd-20">
         <h4 class="h4">List of All Area</h4>
         <p class="mb-0">
         </p>
      </div>
      <div class="pb-20">
         <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer" >
            <table id="areasTable" class="data-table table stripe hover nowrap dataTable no-footer dtr-inline" style="width:100%">
               <thead>
                  <tr>
                     <th>Id</th>
                     <th>Area name</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody></tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>


  $(document).ready(function() {
    $('.left-side-areas').addClass('active');

    $('#areasTable').DataTable({
      "serverSide": true,
      "scrollY": "600px",
      "scrollX": true,
      "ajax": "<%= areas_path(format: :json) %>",
      "columns": [
         { "data": "id" },
         { "data": "name" },
         { "data": "actions" }
         <%# { data: 'actions', searchable: false, orderable: false } %>
      ]
    });
  });
        <%# window.location.reload(); %>
  
</script>